/* Some Sass variables */
// Layout
$appbar-height: 40px;
$navbar-height: 50px;
$list-width: 300px;
$gap: 10px;
$scrollbar-thickness: 17px;
$list-header-height: 36px;
$list-footer-height: 36px;
$nav-label-margin-left: 10px;
// Misc
$list-border-radius: 3px;
$card-border-radius: 3px;
// Colors
$board-bg-color: #d2d6d8;
$appbar-bg-color: #722323;
$list-bg-color: #fff;

body {
  margin: 0;

  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.3em;
}

.ui {
  height: 100vh;

  display: grid;
  grid-template-rows: $appbar-height $navbar-height 1fr;
  //grid-template-columns: 100%;

  background-color: $board-bg-color;
  color: #eee;
}

.navbar {
  padding-left: $gap;
  display: flex;
  align-items: center;
  &.app {
    background-color: $appbar-bg-color;
    justify-content: space-between;
    
    .actions {
      display: flex;  
    }
  }
  &.board {
    font-size: 1.1rem;
    color: black;
    justify-content: space-between;

    .nav-left {
      display: flex;

      .nav-label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        margin-left: $nav-label-margin-left;
      }
    }

    .nav-right {
      display: flex;
      
      .session-timer {
        margin-right: 10px;
      }

      .pomodoro-timer {
        font-size: 2em;
      }

      .timer-button {
        margin-right: 10px;
        margin-left: 10px; 
      }
    }
  }
}

.lists {
  display: flex;
  overflow-x: auto;
  //width: 100%; // This is needed for FF < 54
  > * {
    flex: 0 0 auto; // 'rigid' lists
    margin-left: $gap;
  }
  &::after {
    content: '';
    flex: 0 0 $gap;
  }
}

.list {
  width: $list-width;
  height: calc(100% - #{$gap} - #{$scrollbar-thickness});

  > * {
    background-color: $list-bg-color;
    color: #333;

    padding: 0 $gap;
  }

  header {
    line-height: $list-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $list-border-radius;
    border-top-right-radius: $list-border-radius;
  }

  footer {
    line-height: $list-footer-height;
    border-bottom-left-radius: $list-border-radius;
    border-bottom-right-radius: $list-border-radius;
    color: #888;
  }

  .list-container {
    list-style: none;
    margin: 0;

    min-height: 30px;
    max-height: calc(100% - #{$list-header-height} - #{$list-footer-height});
    overflow-y: auto;

    .list-item {
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.3);
      padding: $gap;
      &:not(:last-child) {
        margin-bottom: $gap;
      }

      border-radius: $card-border-radius;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

      img {
        display: block;
        width: calc(100% + 2 * #{$gap});
        margin: -$gap 0 $gap (-$gap);
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }
  }
}

button.btn-faint {
  font-size: 1.3rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  display: block;
  margin: 2px;
  padding: 6px;
  border-radius: 2px;
}

button.btn {

}
